@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
margin: 0px;
font-family: 'Roboto', sans-serif;

}

h1 {
  font-weight: 360;
  font-size: 2.3rem;
  margin: 0;
}

img {
display: block;
width: 100%;
}

main {
  max-width: 900px;
  margin:auto;
}
